@import url('https://fonts.googleapis.com/css?family=Poppins');

.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}

h1{
  font-family: 'Poppins', sans-serif;
  text-align: center;  
  text-transform: uppercase;
  font-size: 20px ;
}

p{
  font-family: 'Poppins', sans-serif;
  text-align: center; 
}

a{
  text-decoration: none;
  color: black;
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
}

.card-title{
  padding-top: 15px;
}

a:hover {
  color: red;
}

